.ingredients{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}   

.button{
    display: inline-block;
    border: solid 1px teal;
    padding: 10px;
}
.button:hover{
    background-color: teal;
    color: white;
    cursor: pointer;
}

header{
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: plum;
}
header a{
    width: 10%;
    text-decoration: none;
    color: black;
    height: 50px;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    border-right: 1px solid;
}
header a:hover{
    background-color: purple;
    cursor: pointer;
}

#recipes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#recipes .recipe {
    width: 25%;
    border-radius: 8px;
    margin: 2%;
    background-color: purple;
}

#recipes .recipe img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}
.recipe h3{
    color: white;
    text-align: center;
}
.recipe div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.recipe div p{
    width: 20%;
    padding: 2%;
    margin: 2%;
    border-radius: 5px;
    border: none;
    color: purple;
    background-color: plum;
    text-align: center;
}

.x{
    float: right;
    margin: 1%;
    background-color:red;
    padding: 2px;
    border-radius: 20px;
   cursor: pointer;
}

#ingredients{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.ingredient {
    background-color: purple;
    border-radius: 8px;
    padding: 10px;
    color: white;
    margin: 1%;
}
.ingredient div{
    width: 100%;
    text-align: center;
    background-color: plum;
    border-radius: 5px;
}
.ingredient div:hover{
    cursor: pointer;
    color: purple   ;
}
